.idea/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
/.idea/
.project
*.iml
.settings
.classpath
.DS_Store
/bin/
target/
${buildDirectory}
TestLogs_IS_UNDEFINED/
capture_images/
ios_output.txt
android_output.txt